body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0f0f0 0%, #d0d0d0 100%);
    text-align: center; 
    overflow-x: hidden; 
    box-sizing: border-box; /* Asegura que el padding y borde no causen desbordamiento */
}

header {
    padding: 20px;
    background: linear-gradient(135deg, #1a1a1a 0%, #333 100%);
    color: white;
    width: 100%; 
    box-sizing: border-box; /* Asegura que el ancho incluye el padding y borde */
    margin: 0; /* Elimina cualquier margen extra */
    overflow-x: hidden; /* Evita desbordamientos horizontales */
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 10px; 
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
    margin: 0; /* Elimina márgenes extra */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; /* Aumentar el espacio entre elementos en móviles */
    }
}

.package {
    background: white;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s; 
    box-sizing: border-box; 
    width: 100%; /* Ajusta al 100% del ancho */
    margin: 0 auto; /* Asegura que el paquete esté centrado */
}

.package:hover {
    transform: scale(1.05); 
}

button {
    background-color: #333;
    color: white;
    padding: 12px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer; 
    width: 100%; 
}

button:hover {
    background: linear-gradient(to right, #FFD700, #7CFC00); 
    color: black;
}

footer {
    padding: 10px;
    background: linear-gradient(135deg, #333 0%, #1a1a1a 100%);
    color: white;
    text-align: center;
    width: 100%; 
    box-sizing: border-box; 
}

ul {
    list-style-type: none; 
    padding: 0; 
}

.green-check {
    color: green; 
    font-weight: bold; 
}

li {
    text-align: left; 
    padding: 5px; 
}
